@import "tailwindcss";

:root {
  --background: var(--zinc-50);
  --second-color:var(--zinc-200);
  --foreground: #171717;
  --text-color: black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  @apply p-0 m-0 scroll-smooth;
}
.dark{
  --background: var(--color-zinc-800);
  --text-color: white;
  --second-color: var(--color-zinc-700);
}
.secondary{
  background: var(--second-color)!important;
}
.btn{
  @apply rounded-full bg-blue-800 hover:bg-blue-900 cursor-pointer;
}
